
<h2 style="display: inline;"> E-Bank</h2>
<form style="display: inline;margin-left: 95%;" action="/Authentification">
    <button class="btn btn-outline-danger " routerLink="/"  type="submit" >Log out</button>
</form>

<nav>
  
    <a routerLink="/Profile" routerLinkActive="active" >Compte</a>
    <a routerLink="/creanciers" routerLinkActive="active" > Payment</a>
    <a routerLink="/transfer" routerLinkActive="active" >Transfer</a>
	<a routerLink="/updatePassword" routerLinkActive="active" > Update Password</a>
    <a routerLink="/historique" routerLinkActive="active" >Historic</a>
	<div class="animation start-home"></div>
</nav>

