<app-menu></app-menu>

<select name="pets" id="pet-select" style="width: 1300px; height: 25px; margin-top: 50px; margin-left: 70px;">
    <option value="">Tous les categories</option>
    <option value="dog">telephone</option>
    <option value="cat">wifi</option>
   
</select>

<div class="big">
    <div class="societe">
        <div style="width: 200px;">
            <img src="./../../assets/maroc.png"  class="img"> 
        </div>
        <div style="margin-top: 40px; margin-left:60px;">
            <p style="  font-family:'Courier New', Courier, monospace; font-size: 20px;color: gray; text-align: center;">IAM REGARGES</p>
            <a style="font-size: 13px; ">	>TELEPHONE ET INTERNET SIM</a>
        </div>
    </div>

    <div class="societe">
        <div style="width: 200px;">
            <img src="./../../assets/maroc.png"  class="img"> 
        </div>
        <div style="margin-top: 40px; margin-left:60px;">
            <p style="  font-family:'Courier New', Courier, monospace; font-size: 20px;color: gray; text-align: center;">IAM REGARGES</p>
            <a style="font-size: 13px; " class="link" routerLink="/payment">	>TELEPHONE ET INTERNET SIM</a>
        </div>
    </div>
</div>

<div class="big">
    <div class="societe">
        <div style="width: 200px;">
            <img src="./../../assets/maroc.png"  class="img"> 
        </div>
        <div style="margin-top: 40px; margin-left:60px;">
            <p style="  font-family:'Courier New', Courier, monospace; font-size: 20px;color: gray; text-align: center;">IAM REGARGES</p>
            <a style="font-size: 13px; ">	>TELEPHONE ET INTERNET SIM</a>
        </div>
    </div>

    <div class="societe">
        <div style="width: 200px;">
            <img src="./../../assets/maroc.png"  class="img"> 
        </div>
        <div style="margin-top: 40px; margin-left:60px;">
            <p style="  font-family:'Courier New', Courier, monospace; font-size: 20px;color: gray; text-align: center;">IAM REGARGES</p>
            <a style="font-size: 13px; ">	>TELEPHONE ET INTERNET SIM</a>
        </div>
    </div>
</div>