.societe{
    border: solid 1px rgb(221, 212, 212) ;
    width: 600px;
    height: 200px;

    display: flex;
}

.big{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
.img{
    margin-top: 60px;
    width:150px ;
    height:70px;
    margin-left: 40px;
}
a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    
      
    
  }
  .link:hover{
      text-decoration: underline;
  }