
<nav class='navbar bg-transparent text-white py-4'>
  <div class="container-fluid px-5">
    <h1>E-Bank</h1>
    <form action="/Authentification">
        <button class="btn btn-outline-danger " routerLink="/Authentification"  type="submit" >Log in</button>
      </form>
    </div>
</nav>



<section class='d-flex justify-content-center align-items-center' style="height:100vh;width:100%; position: absolute; top:0;z-index:-10; ;background-image: url('../../assets/home\ .png');background-position:center;background-size:cover;">
  
</section>