
    <div class="big-wrapper light">

      <header>
        <div class="container">
          <div class="logo">
            <img src="../../assets/"/>
            
          </div>

          <div class="links">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#" class="btn">Sign in</a></li>
            </ul>
          </div>

        

          
        </div>
      </header>

      <div class="showcase-area">
        <div class="container">
          <div class="left">
            <div class="big-title">
              <h1>E-Bank</h1>
              
            </div>
            <p class="text">
              short descriptif ....................................
              .............................................!
            </p>
            <div class="cta">
              <a href="#" class="btn">Authentification</a>
            </div>
          </div>

          <div class="right">
            <img src="./../../assets/person.png" alt="Person Image" class="person" />
          </div>
        </div>
      </div>
    <div class="empty"></div>      
    </div>
