h1{
	
	color: #e65d22; font-family: 'Rouge Script', cursive; font-size: 60px; font-weight: normal; line-height: 100px; margin: 0 0 2px; text-align: left; text-shadow: 1px 1px 2px #082b34;
	margin-right: 200px;
}
section{
  border-bottom: 8px solid #222;
}