
<body>
    <div id="container">
        <!-- zone de connexion -->
        
        <form action="" >
            <h1>Authentification</h1>
            
            <label><b>Login</b></label>
            <input type="text" placeholder="Enter your login" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter your password" name="password" required>

            <input type="submit" id='submit' value='LOGIN' >
            
        </form>
    </div>
</body>
