<app-menu></app-menu>

<h1>Start your payement</h1>

<div class="societe">
  
    <div style="width: 200px;">
        <img src="{{agence.image}}"  class="img"> 
        
        <p>{{agence.description}}</p>
    </div>
    <form   #payment="ngForm"  (ngSubmit)="this.foo.save(payment.value)"  (submit)="navigateTo(agence)">
    <div style="margin-top: 40px; " class="inputs">
        
        <input type="text" placeholder="Nom et prenom du donateur" name="name" ngModel ><br/>
        <input type="text" placeholder="Montant du don (DH)"  name="don" ngModel><br/>
        <div class="button">
            <button>Annuler</button>
  
           
        </div>
  
        <input type="submit" value="here" > 
    </div>
</form>
</div>
