<app-menu></app-menu>


   <div id="container"> 
        <!-- zone de connexion -->
        
   <div class="container rounded bg-white mt-5 mb-5">
                
                    <div class="img"><img class="myimg" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><h2 class="text-right">Your Profile</h2></div>
                
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        
                        <div class="left">
                            <label class="labels">Name</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">Surname</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">Email Address</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">Mobile Number</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">Address Line 1</label><div class="resp"><output   value="">..............</output></div>
                        </div>

                        <div class="right">
                            <label class="labels">Address Line 2</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">Postcode</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">State/Region</label><div class="resp"><output   value="">..............</output></div>
                            <label class="labels">Contry</label><div class="resp"><output   value="">Morocco</output></div>
                        </div>
                        
                    </div>
                </div>
                
            </div>

    </div>

       
        


