<body>
<div class="mainDiv">
    <div class="cardStyle">
        <h2 class="formTitle">
          Update your Password
        </h2>
        <form action="/creanciers">
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="password" name="password" required>
      </div>
        
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
      </div>
      
      <div class="buttonWrapper">
        <input type="submit"  value="Continue" id="submitButton"  class="submitButton pure-button pure-button-primary"/>
       
     
      </div>
      </form>
    </div>
  </div>
</body>
